<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <nav  th:fragment="navbar(aktif) " class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a href="index.html" class="navbar-brand">Reve<span class="text-primary">Tive.</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
            <li th:if="${aktif} == home" class="nav-item active"><a href="/" class="nav-link">Home</a></li>
            <li th:unless="${aktif} == home" class="nav-item "><a href="/" class="nav-link">Home</a></li>
            <li th:if="${aktif} == penumpang" class="nav-item active"><a href="penumpang" class="nav-link">Penumpang</a></li>
            <li th:unless="${aktif} == penumpang" class="nav-item"><a href="penumpang" class="nav-link">Penumpang</a></li>
            <li th:if="${aktif} == cariKeberangkatan" class="nav-item active"><a href="cariKeberangkatan" class="nav-link">Keberangkatan</a></li>
            <li th:unless="${aktif} == cariKeberangkatan" class="nav-item"><a href="cariKeberangkatan" class="nav-link">Keberangkatan</a></li>
            <li th:if="${aktif} == booking" class="nav-item active"><a href="booking" class="nav-link">Booking</a></li>
             <li th:unless="${aktif} == booking" class="nav-item"><a href="booking" class="nav-link">Booking</a></li>
            <li class="nav-item">
              <a href="blog.html" class="nav-link">News</a>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div> <!-- .container -->
    </nav> <!-- .navbar -->
</body>
</html>